
<h1>Contact Details</h1> 

<h1>{{selectedContact.lastName}}</h1>  

<button class="btn btn-info"><a ng-href="#/contacts/{{selectedContact.id}}/edit">Edit</a></button>

<h2>First Name: {{selectedContact.firstName}}</h2>
<h2>Phone: {{selectedContact.phone}}</h2>
<h2>City: {{selectedContact.city}}</h2>
<h2>State: {{selectedContact.state}}</h2>
<h2>Zipcode: {{selectedContact.zipcode}}</h2>

        <!-- lastName: "Shmoe",
        firstName: "Joe",
        phone:"615-675-2098",
        city: "Nashville",
        state: "TN",
        zipcode: "12345"   -->